{% extends "layout.html" %}

{% block content %}

<style type="text/css">
    footer {
    width: 100%;
    bottom: 0px;
    position: fixed;
}
</style>

{% if posted != True  %}


<div class="col-sm-8 text-left" style="background-color: #fff">
    <h1>Enter an Announcement</h1>
    <hr>
    <form id="contact-form" method="post" action="/announcement">
        <div class="col-xs-3">
            <input type="text" class="form-control" name="title" placeholder="Title" required/>
            <br>
            <input type="text" class="form-control" name="date" placeholder="Date" required/>
            <br>
            <textarea rows="4" name="announcement" type="textarea" class="form-control" placeholder="Text" required></textarea>
            <br>
            <input name="postannouncement" value="Post Announcement" type="submit" style="background-color:#00305e; color:#fff;" class="btn" />
        </div>
    </form>
</div>
{% else %}

{% endif %}


{% endblock %}
