{% extends "layout.html" %}

{% block content %}

<!--<p>Here is my adminView variable: {{ adminView }}</p>-->
<!--</br>-->
<!--<p>Here is my loggedIn variable: {{ loggedIn }}</p>-->


    <div class="col-sm-8 text-left" style="background-color: #fff"> 
      <h1>About Us</h1>
      <hr>
      <strong>Current UMW Students & Faculty:</strong>
      <br>
      <br>
      <br>
      <p>The Honors Program is located in duPont Hall Room 210.  This space is available for all honors students as a gathering or studying location.</p>
      <br>
      <p>Dr. Slunt, Director of the Honors Program, has an office in duPont 210 as well as in Jepson 337 (Chemistry office).</p>
      <br>
      
      <h1>Contact Us</h1>
      <p>Questions about the Honors Program can be directed to Kelli Slunt (kslunt@umw.edu) at 540-654-1716 (Honor Program Office) or 
         540-654-1406 (Chemistry office).  In addition, Jeanne Campbell (jcampbe2@umw.edu), administrative assistant for the Honors 
         Program can field questions at 540-654-1592.</p>
      <br>
      <p>Questions for students or suggestions about student events for the honors program can be directed to the Student Advisory Committee for the UMW Honors Program (HSAC),  honorssac@gmail.com. </p>
      
      <strong>Prospective students, parents, and school counselors:</strong>
      <br>
      <p>General questions about the Honors Program can be directed to honorsprogram@umw.edu or 540-654-1716.</p>

{% endblock %}
