{% extends "layout.html" %}

{% block content %}


{% for i in studentList %}
<header class="jumbotron umw-wide">
   <center><h1 class="display-3">{{i[1]}} {{i[0]}}'s Progress Report</h1></center>
   <div class="container student-container">
      <div class="row">
         <div class="col-lg-3"><p class="lead">First Name: {{i[1]}}</p></div>
         <div class="col-lg-3"><p class="lead">Last Name: {{i[0]}} </p></div>
         <div class="col-lg-2"><p class="lead">ID: {{i[2]}}</p></div>
         <div class="col-lg-4"><p class="lead">Email: {{i[3]}}</p></div>
      </div>
      <div class="row">
         <div class="col-lg-3"><p class="lead">Student Status: {{i[6]}}</p></div>
         <div class="col-lg-3"><p class="lead">Comments: {{i[7]}}</p></div>
         <div class="col-lg-3"><p class="lead">Admitted Date: {{i[4]}}</p></div>
         <div class="col-lg-3"><p class="lead">Term: {{i[8]}}</p></div>
      </div>
      <br/>
      <div class="row">
         <div class="col-lg-4">
            <p class="lead">FSEM HN: {{i[9]}}</p>
            <p class="lead">FSEM Date: {{i[10]}}</p>
            <p class="lead">HN Course 1: {{i[11]}}</p>
            <p class="lead">HN Course 1 Date: {{i[12]}}</p>
            <p class="lead">HN Course 2: {{i[13]}}</p>
            <p class="lead">HN Course 2 Date: {{i[14]}}</p>
            <p class="lead">HN Course 3: {{i[15]}}</p>
            <p class="lead">HN Course 3 Date: {{i[16]}}</p>
            <br/>
            <p class="lead">HONR201: {{i[24]}}</p>
            <p class="lead">HONR201 Date: {{i[25]}}</p>
            <br/>
            <p class="lead">Research Course: {{i[20]}}</p>
            <p class="lead">Research Date: {{i[21]}}</p>
            <br/> 
            <p class="lead">Capstone Course: {{i[22]}}</p>
            <p class="lead">Capstone Date: {{i[23]}}</p> 
            
         </div>
         <div class="col-lg-4">
            <p class="lead">Co Cur: {{i[7]}}</p>
            <p class="lead">Date 1: {{i[8]}}</p>
            <p class="lead">HN Course 4: {{i[17]}}</p>
            <p class="lead">HN Course 4 Date: {{i[18]}}</p>
            <p class="lead">HN Course 5: {{i[18]}}</p>
            <p class="lead">HN Course 5 Date: {{i[19]}}</p>
            
         </div>
         <div class="col-lg-4">
            <p class="lead">Mentoring: {{i[27]}}</p>
            <p class="lead">Leadership: {{i[26]}}</p>
            <br/>
            <p class="lead">HONR Portfolio 1: {{i[36]}}</p>
            <p class="lead">HONR Portfolio 2: {{i[37]}}</p>
            <p class="lead">HONR Portfolio 3: {{i[38]}}</p>
            <p class="lead">HONR Portfolio 4: {{i[39]}}</p>
            <p class="lead">Exit Interview: {{i[40]}}</p>
            
      </div>
      </div>
   </div>
      
   
   
   
   
   
   <!--<p class="lead">Dupont Code: {{i[5]}}</p>-->
   
   
   
   
   
   
   
   <p class="lead">GPA Fall 2016: {{i[28]}}</p>
   <p class="lead">GPA Spring 2017: {{i[29]}}</p>
   <p class="lead">GPA Fall 2017: {{i[30]}}</p>
   <p class="lead">GPA Spring 2018: {{i[31]}}</p>
   <p class="lead">GPA Fall 2018: {{i[32]}}</p>
   <p class="lead">GPA Spring 2019: {{i[33]}}</p>
   <p class="lead">GPA Fall 2019: {{i[34]}}</p>
   <p class="lead">GPA Spring 2020: {{i[35]}}</p>
   

   

</header>
</br>

{% endfor %}




{% endblock %}