{% extends "layout.html" %}

{% block content %}


{% for i in studentList %}
<header class="jumbotron umw-wide">
   <center><h1 class="display-3">{{i[1]}} {{i[0]}}'s Progress Report</h1></center>
   <div class="container student-container">
      <div class="row">
         <div class="col-lg-3"><p class="lead"><b>First Name:</b> {{i[1]}}</p></div>
         <div class="col-lg-3"><p class="lead"><b>Last Name:</b> {{i[0]}} </p></div>
         <div class="col-lg-2"><p class="lead"><b>ID:</b> {{i[2]}}</p></div>
         <div class="col-lg-4"><p class="lead"><b>Email:</b> {{i[3]}}</p></div>
      </div>
      <div class="row">
         <div class="col-lg-3"><p class="lead"><b>Student Status:</b> {{i[6]}}</p></div>
         <div class="col-lg-3"><p class="lead"><b>Comments:</b> {{i[7]}}</p></div>
         <div class="col-lg-3"><p class="lead"><b>Admitted Date:</b> {{i[4]}}</p></div>
         <div class="col-lg-3"><p class="lead"><b>Term:</b> {{i[8]}}</p></div>
      </div>
      <br/>
      <div class="row">
         <div class="col-lg-4">
            <p class="lead"><b>FSEM HN:</b> {{i[9]}}</p>
            <p class="lead"><b>FSEM Date:</b> {{i[10]}}</p>
            <p class="lead"><b>HN Course 1:</b> {{i[11]}}</p>
            <p class="lead"><b>HN Course 1 Date:</b> {{i[12]}}</p>
            <p class="lead"><b>HN Course 2:</b> {{i[13]}}</p>
            <p class="lead"><b>HN Course 2 Date:</b> {{i[14]}}</p>
            <p class="lead"><b>HN Course 3:</b> {{i[15]}}</p>
            <p class="lead"><b>HN Course 3 Date:</b> {{i[16]}}</p>
            <br/>
            <p class="lead"><b>HONR201:</b> {{i[24]}}</p>
            <p class="lead"><b>HONR201 Date:</b> {{i[25]}}</p>
            <br/>
            <p class="lead"><b>Research Course:</b> {{i[20]}}</p>
            <p class="lead"><b>Research Date:</b> {{i[21]}}</p>
         </div>
         <div class="col-lg-4">
            <p class="lead"><b>Co Cur:</b> {{i[7]}}</p>
            <p class="lead"><b>Date 1:</b> {{i[8]}}</p>
            <p class="lead"><b>HN Course 4:</b> {{i[17]}}</p>
            <p class="lead"><b>HN Course 4 Date:</b> {{i[18]}}</p>
            <p class="lead"><b>HN Course 5:</b> {{i[18]}}</p>
            <p class="lead"><b>HN Course 5 Date:</b> {{i[19]}}</p>
            <br/> 
            <p class="lead"><b>Capstone Course:</b> {{i[22]}}</p>
            <p class="lead"><b>Capstone Date:</b> {{i[23]}}</p>     
         </div>
         <div class="col-lg-4">
            <p class="lead"><b>Mentoring:</b> {{i[27]}}</p>
            <p class="lead"><b>Leadership:</b> {{i[26]}}</p>
            <br/>
            <p class="lead"><b>HONR Portfolio 1:</b> {{i[36]}}</p>
            <p class="lead"><b>HONR Portfolio 2:</b> {{i[37]}}</p>
            <p class="lead"><b>HONR Portfolio 3:</b> {{i[38]}}</p>
            <p class="lead"><b>HONR Portfolio 4:</b> {{i[39]}}</p>
            <p class="lead"><b>Exit Interview:</b> {{i[40]}}</p>
            <br/>
            <p class="lead"><b>GPA Fall:</b> {{i[28]}}</p>
            <p class="lead"><b>GPA Spring:</b> {{i[29]}}</p>
            <p class="lead"><b>GPA Fall:</b> {{i[30]}}</p>
            <p class="lead"><b>GPA Spring:</b> {{i[31]}}</p>
            <p class="lead"><b>GPA Fall:</b> {{i[32]}}</p>
            <p class="lead"><b>GPA Spring:</b> {{i[33]}}</p>
            <p class="lead"><b>GPA Fall:</b> {{i[34]}}</p>
            <p class="lead"><b>GPA Spring:</b> {{i[35]}}</p>   
         </div>
      </div>
   </div>
</header>
{% endfor %}




{% endblock %}