{% extends "layout.html" %}

{% block content %}

<style>
footer {
    width: 100%;
    bottom: 0px;
    position: fixed;
}
.modal-dialog {
    margin: 25px auto;
}
</style>

<!--<p>Here is my adminView variable: {{ adminView }}</p>-->
<!--</br>-->
<!--<p>Here is my loggedIn variable: {{ loggedIn }}</p>-->


   <!--login modal-->
 <div id="loginModal" class="modal show" tabindex="-1" role="dialog" aria-hidden="true" style="display: block;">
    <div class="modal-dialog" style="position: relative;  top: 137px;width:1000px;height:350px;">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Login</h4>
        </div>
        <div class="modal-body">
          <form method="post" class="form col-md-12 center-block" action="/">
            <div class="form-group">
              <input type="text" class="form-control input-lg" name="userName" placeholder="Username">
            </div>
            <div class="form-group">
              <input type="password" class="form-control input-lg" name="pw" placeholder="Password">
            </div>
            <div class="form-group">
              <button class="btn btn-primary btn-lg btn-block">Sign In</button>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <form action="/">
            {% if failed %}
                <h3 style="color:#ff3333;"><center><marquee style="height:1;width:200" scrollamount="200" scrolldelay="500">Invalid username or password!</marquee></center></h3>
            {% endif %}
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
  <!-- /.modal -->
{% endblock %}
